.attribution {
  grid-column: 3/-3;
  justify-self: end;
}
.attribution a:link,
.attribution a:visited {
  color: #ff7d1a;
}
.attribution a:hover {
  text-decoration: underline;
}
@media (max-width: 48em) {
  .attribution {
    font-size: 1.4rem;
    padding: 0 2rem 2rem 0;
  }
}
@media (max-width: 23.44em) {
  .attribution {
    font-weight: 700;
    text-align: center;
    padding: 0 0 2rem 0;
  }
}
