header {
  grid-column: 3/-3;
  margin-bottom: 6rem;
}
@media (max-width: 48em) {
  header {
    margin-bottom: 5rem;
  }
}
@media (max-width: 23.44em) {
  header {
    margin: 0;
  }
}

nav {
  border-bottom: 1px solid #b6bcc8;
  color: #68707d;
  display: flex;
  align-items: center;
  gap: 4.5rem;
}
@media (max-width: 48em) {
  nav {
    padding: 0 2rem;
  }
}
@media (max-width: 23.44em) {
  nav {
    position: relative;
    padding: 1.5rem 3rem;
    justify-content: space-between;
  }
}
@media (max-width: 20em) {
  nav {
    gap: 0;
  }
}

@media (max-width: 23.44em) {
  .logo {
    margin-left: -6rem;
  }
}
@media (max-width: 20em) {
  .logo {
    margin-left: 0;
  }
}

.menu-icon {
  display: none;
}
@media (max-width: 23.44em) {
  .menu-icon {
    display: inline-block;
  }
}

.menu-close {
  display: none;
}
@media (max-width: 23.44em) {
  .menu-close {
    display: inline-block;
    margin-bottom: 2rem;
  }
}

.menu {
  display: flex;
  gap: 3rem;
}
@media (max-width: 23.44em) {
  .menu {
    height: 100vh;
    width: 70vw;
    padding: 3rem 0 0 3rem;
    flex-direction: column;
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
    left: -50rem;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.6s;
    z-index: 10;
  }

  .menu-bg {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.menu-items {
  padding: 2.5rem 0;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}
.menu-items:hover {
  color: black;
  border-bottom: 4px solid #ff7d1a;
}
@media (max-width: 23.44em) {
  .menu-items {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    color: black;
    border: none;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    z-index: 10;
  }
  .menu-items:hover {
    border: none;
  }
}

.profile-box {
  margin-left: auto;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2.5rem;
}
@media (max-width: 48em) {
  .profile-box {
    gap: 2rem;
  }
}
@media (max-width: 23.44em) {
  .profile-box {
    margin: 0;
  }
}

.icon-cart {
  width: 3rem;
  cursor: pointer;
}

.item-amount {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.1rem 0.7rem;
  color: #ffffff;
  background-color: #ff7d1a;
  border-radius: 50rem;
  position: absolute;
  top: 10%;
  right: 70%;
}

.cart-display {
  width: 32rem;
  background-color: #fcfcfc;
  border-radius: 1rem;
  position: absolute;
  top: 110%;
  left: -120%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 48em) {
  .cart-display {
    left: -210%;
  }
}
@media (max-width: 23.44em) {
  .cart-display {
    width: 45rem;
    top: 150%;
    left: -330%;
    z-index: 10;
  }
}
@media (max-width: 20em) {
  .cart-display {
    width: 38rem;
    top: 7.5rem;
    left: -26rem;
  }
}

.cart-display-head {
  border-bottom: 1px solid #b6bcc8;
}

.cart {
  font-weight: 700;
  color: black;
  padding: 2rem;
}
@media (max-width: 23.44em) {
  .cart {
    font-size: 2rem;
    padding: 2.5rem;
  }
}

.cart-display-body {
  height: 15rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 23.44em) {
  .cart-display-body {
    height: 27rem;
    padding: 2.5rem;
  }
}

.flex-cart {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 23.44em) {
  .flex-cart {
    margin-bottom: 3.5rem;
  }
}

.cart-message {
  font-size: 1.6rem;
  font-weight: 700;
}
@media (max-width: 23.44em) {
  .cart-message {
    font-size: 2rem;
  }
}

.cart-content {
  width: 100%;
}

.item-thumbnail {
  width: 15%;
  border-radius: 3px;
}

.item-info {
  font-size: 1.4rem;
  line-height: 2rem;
}
.item-info span {
  color: black;
  font-weight: 700;
}
@media (max-width: 23.44em) {
  .item-info {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.item-price-total {
  display: inline-block;
}

.icon-delete {
  fill: #b6bcc8;
  cursor: pointer;
}
.icon-delete:hover {
  fill: black;
}

.profile-photo {
  width: 5rem;
  border: 2px solid transparent;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s;
}
.profile-photo:hover {
  border: 2px solid #ff7d1a;
}

.show {
  left: 0;
}
