.grid-container {
  display: grid;
  grid-template-columns: 1fr repeat(10, minmax(-webkit-min-content, 15rem)) 1fr;
  grid-template-columns: 1fr repeat(10, minmax(min-content, 15rem)) 1fr;
}

main {
  grid-column: 4/-4;
  margin-bottom: 2rem;
  display: flex;
  gap: 10rem;
}

@media (max-width: 48em) {
  main {
    gap: 7rem;
  }
}

@media (max-width: 23.44em) {
  main {
    flex-direction: column;
    gap: 0;
    margin: 0;
  }
}

@media (max-width: 23.44em) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
