*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  background-color: #fcfcfc;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 48em) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 23.44em) {
  html {
    font-size: 50%;
  }
}

.btn {
  width: 100%;
  font-weight: 700;
  font-family: inherit;
  color: #ffffff;
  background-color: #ff7d1a;
  padding: 1.7rem 3rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  filter: opacity(0.9);
  box-shadow: 0 3px 10px #ff7d1a;
}
.btn:active {
  transform: scale(0.98);
}
@media (max-width: 48em) {
  .btn {
    padding: 1.67rem 3rem;
  }
}

.hidden {
  display: none;
}
